<!DOCTYPE html>
<html>
<head>
    <title>Система помощи в работе преподавателя</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1> Система помощи в работе преподавателя</h1>
    </header>
    <div class="container">
        <h2>Добро пожаловать. Выберите тип входа</h2>
        <div class="button-container">
            <a href="{{ url_for('student') }}"><button class="button active">Студент</button></a>
            <a href="{{ url_for('teacher') }}"><button class="button active">Преподаватель</button></a>
        </div>
    </div>
</body>
</html>