{% extends "base.html" %}

{% block header_title %}Список лабораторных работ | {{teacher}} {% endblock %}

{% block content %}
        <h2>Список лабораторных работ</h2>
        <div class="button-container">
            {% for topic in lab_topics %}
                <a href="{{ url_for('lab_questions', topic=topic) }}"><button class="button active">{{ topic }}</button></a>
            {% endfor %}
        </div>
        <div class="button-container">
            <a href="{{ url_for('teacher_dashboard') }}"><button class="button">Назад</button></a>
        </div>
{% endblock %}