    {% extends "base.html" %}
    
    {% block header_title %}Вопросы по теме {{ topic }} | {{teacher}}{% endblock %}
    
    {% block content %}
        <h2>Вопросы по теме: {{ topic }}</h2>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% else %}
            <ol>
                {% for question in questions %}
                    <ul>{{ question }}</ul>
                {% endfor %}
            </ol>
        {% endif %}
        <div class="button-container">
            <a href="{{ url_for('lab_list') }}"><button class="button">Назад</button></a>
        </div>
{% endblock %}