<!DOCTYPE html>
{% extends "base.html" %}

{% block header_title %}Данные о студенте{% endblock %}

{% block content %}
        <h2>Введите данные</h2>
        <form method="post">
            <label for="surname">Фамилия:</label><br>
            <input type="text" id="surname" name="surname" autocomplete="off" required><br>
            <label for="name">Имя:</label><br>
            <input type="text" id="name" name="name" autocomplete="off" required><br>
            <label for="group">Группа:</label><br>
            <input type="text" id="group" name="group" autocomplete="off" required><br>
            <div class="button-container">
                <input type="submit" value="Начать">
                <a href="{{ url_for('index') }}"><button type="button" class="button">Назад</button></a>
            </div>
        </form>
    </div>
{% endblock %}