{% extends "base.html" %}

{% block header_title %}Контрольная работа | Тема: IP-адресация {% endblock %}

{% block content %}
        <h2>Список групп студентов</h2>
        {% if message %}
            <h2 style="color: red;">{{ message }}</h2>
        {% endif %}
        <text> Выберите группу </text>
        <div class="button-container">
            {% for group in groups %}
                <a href="{{ url_for('student_list', group=group) }}"><button class="button active">{{ group }}</button></a>
            {% endfor %}
        </div>
        <div class="button-container">
            <a href="{{ url_for('main') }}"><button class="button">Назад</button></a>
        </div>
{% endblock %}