<!DOCTYPE html>
<html>
<head>
    <title>Контрольная работа</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Задание 5</h1>
    <p>Определите диапазон идентификаторов узлов для каждой из образуемых {{task_data.subnets}}х подсетей из сети {{task_data.ip_address}}/{{task_data.network_mask}}</p>
    <form method="post">
        {% for i in range(task_data.subnets) %}
            <h3>Подсеть {{ i + 1 }}</h3>
            <label>IP адрес первого хоста (десятичный):</label><input type="text" name="subnet_{{ i }}_first_host_decimal"><br>
            <label>IP адрес первого хоста (двоичный):</label><input type="text" name="subnet_{{ i }}_first_host_binary"><br>
            <label>IP адрес последнего хоста (десятичный):</label><input type="text" name="subnet_{{ i }}_last_host_decimal"><br>
            <label>IP адрес последнего хоста (двоичный):</label><input type="text" name="subnet_{{ i }}_last_host_binary"><br>
            <label>IP адрес подсети (десятичный):</label><input type="text" name="subnet_{{ i }}_subnet_decimal"><br>
            <label>IP адрес подсети (двоичный):</label><input type="text" name="subnet_{{ i }}_subnet_binary"><br>
            <label>Маска подсети (десятичная):</label><input type="text" name="subnet_{{ i }}_subnet_mask_decimal"><br>
            <label>Маска подсети (двоичная):</label><input type="text" name="subnet_{{ i }}_subnet_mask_binary"><br>
        {% endfor %}
        <input type="submit" value="Отправить ответ">
    </form>
</body>
</html>