<!DOCTYPE html>
<html>
<body>
    <h1>Задание 2</h1>
    <p>"Запишите адрес сети, адреса первого и последнего хостов, а также широковещательный адрес для IP-адреса {{task_data.ip_address }} с маской  {{ task_data.subnet_mask }}</p>
    <form method="post">
        <label>IP адрес сети (десятичный):</label><input type="text" name="decimal_network"><br>
        <label>IP адрес сети (двочиный):</label><input type="text" name="binary_network"><br>
        <label>IP адрес первого хоста в сети (десятичный):</label><input type="text" name="decimal_first_host"><br>
        <label>IP адрес первого хоста в сети (двоичный):</label><input type="text" name="binary_first_host"><br>
        <label>IP адрес последнего хоста в сети (десятичный):</label><input type="text" name="decimal_last_host"><br>
        <label>IP адрес последнего хоста в сети (двоичный):</label><input type="text" name="binary_last_host"><br>
        <label>Широковещательный IP адрес (десятичный):</label><input type="text" name="broadcast_decimal"><br>
        <label>Широковещательный IP адрес (двоичный):</label><input type="text" name="broadcast_binary"><br>
        <label>Маска подсети (десятичная):</label><input type="text" name="decimal_subnet"><br>
        <label>Маска подсети (двоичная):</label><input type="text" name="binary_subnet"><br>
        <input type="submit" value="Отправить ответ">
    </form>
</body>
</html>