{% extends "base.html" %}

{% block header_title %}Задание 2{% endblock %}

{% block content %}
        <p>Запишите адрес сети, адреса первого и последнего хостов, а также широковещательный адрес для IP-адреса {{task_data.ip_address }} с маской  {{ task_data.subnet_mask }}</p>
        <form method="post" autocomplete="off">
            <label for="decimal_network">IP адрес сети (десятичный):</label><br>
            <input type="text" id="decimal_network" name="decimal_network" required><br>
            <label for="binary_network">IP адрес сети (двочиный):</label><br>
            <input type="text" id="binary_network" name="binary_network" required><br>
            <label for="decimal_first_host">IP адрес первого хоста в сети (десятичный):</label><br>
            <input type="text" id="decimal_first_host" name="decimal_first_host" required><br>
            <label for="binary_first_host">IP адрес первого хоста в сети (двоичный):</label><br>
            <input type="text" id="binary_first_host" name="binary_first_host" required><br>
            <label for="decimal_last_host">IP адрес последнего хоста в сети (десятичный):</label><br>
            <input type="text" id="decimal_last_host" name="decimal_last_host" required><br>
            <label for="binary_last_host">IP адрес последнего хоста в сети (двоичный):</label><br>
            <input type="text" id="binary_last_host" name="binary_last_host" required><br>
            <label for="broadcast_decimal">Широковещательный IP адрес (десятичный):</label><br>
            <input type="text" id="broadcast_decimal" name="broadcast_decimal" required><br>
            <label for="broadcast_binary">Широковещательный IP адрес (двоичный):</label><br>
            <input type="text" id="broadcast_binary" name="broadcast_binary" required><br>
            <label for="decimal_subnet">Маска подсети (десятичная):</label><br>
            <input type="text" id="decimal_subnet" name="decimal_subnet" required><br>
            <label for="binary_subnet">Маска подсети (двоичная):</label><br>
            <input type="text" id="binary_subnet" name="binary_subnet" rquired><br>
            <div class="button-container">
                <input type="submit" value="Отправить ответ">
            </div>
        </form>
{% endblock %}