{% extends "base.html" %}

{% block header_title %}Задание 5{% endblock %}

{% block content %}
        <p>Определите диапазон идентификаторов узлов для каждой из образуемых {{task_data.subnets}}х подсетей из сети {{task_data.ip_address}}/{{task_data.network_mask}}</p>
        <form method="post" autocomplete="off">
            {% for i in range(task_data.subnets) %}
                <h3>Подсеть {{ i + 1 }}</h3>
                <label for="subnet_{{ i }}_first_host_decimal">IP адрес первого хоста (десятичный):</label><br>
                <input type="text" id="subnet_{{ i }}_first_host_decimal" name="subnet_{{ i }}_first_host_decimal" required><br>
                <label for="subnet_{{ i }}_first_host_binary">IP адрес первого хоста (двоичный):</label><br>
                <input type="text" id="subnet_{{ i }}_first_host_binary" name="subnet_{{ i }}_first_host_binary" required><br>
                <label for="subnet_{{ i }}_last_host_decimal">IP адрес последнего хоста (десятичный):</label><br>
                <input type="text" id="subnet_{{ i }}_last_host_decimal" name="subnet_{{ i }}_last_host_decimal" required><br>
                <label for="subnet_{{ i }}_last_host_binary">IP адрес последнего хоста (двоичный):</label><br>
                <input type="text" id="subnet_{{ i }}_last_host_binary" name="subnet_{{ i }}_last_host_binary" required><br>
                <label for="subnet_{{ i }}_subnet_decimal">IP адрес подсети (десятичный):</label><br>
                <input type="text" id="subnet_{{ i }}_subnet_decimal" name="subnet_{{ i }}_subnet_decimal" required><br>
                <label for="subnet_{{ i }}_subnet_binary">IP адрес подсети (двоичный):</label><br>
                <input type="text" id="subnet_{{ i }}_subnet_binary" name="subnet_{{ i }}_subnet_binary" required><br>
                <label for="subnet_{{ i }}_subnet_mask_decimal">Маска подсети (десятичная):</label><br>
                <input type="text" id="subnet_{{ i }}_subnet_mask_decimal" name="subnet_{{ i }}_subnet_mask_decimal" required><br>
                <label for="subnet_{{ i }}_subnet_mask_binary">Маска подсети (двоичная):</label><br>
                <input type="text" id="subnet_{{ i }}_subnet_mask_binary" name="subnet_{{ i }}_subnet_mask_binary" required><br>
            {% endfor %}
            <div class="button-container">
                <input type="submit" value="Отправить ответ">
            </div>
        </form>
{% endblock %}