{% extends "base.html" %}

{% block header_title %}Панель преподавателя | Жуковский В.Е.{% endblock %}

{% block content %}
        <h2>Добро пожаловать, Владимир Евгеньевич!</h2>
        <text> Здесь вы можете просмотреть результат выполенения контрольных работ студентами и сгенерировать вопросы для лабораторных работ, выполняемых студентами. </text>
        <p> Для дальнейшей работы, пожалуйста, выберите действие </p>
        <div class="button-container">
            <a href="{{ url_for('view_results') }}"><button class="button active">Просмотр контрольных работ</button></a>
            <a href="{{ url_for('lab_list') }}"><button class="button active">Список лабораторных работ</button></a>
            <a href="{{ url_for('index') }}"><button class="button">Выйти</button></a>
        </div>
{% endblock %}