{% extends "base.html" %}

{% block header_title %}Интеллектуальная система "Сети и телекоммуникации" | Жуковский В.Е.{% endblock %}

{% block content %}
        <h2>Вход для преподавателя</h2>
        <h4>Введите секретный пароль</h4>
        <form method="post">
            <label for="password">Пароль:</label><br>
            <input type="password" id="password" name="password" required><br>
            <div class="button-container">
                <input type="submit" value="Войти">
                <a href="{{ url_for('index') }}"><button type="button" class="button">Назад</button></a>
            </div>
        </form>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
{% endblock %}