<!DOCTYPE html>
<html>
<head>
    <title>Панель преподавателя</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Панель преподавателя | Жуковский В.Е.</h1>
    </header>
    <div class="container">
        <h2>Добро пожаловать, преподаватель!</h2>
        <div class="button-container">
            <a href="{{ url_for('view_results') }}"><button class="button active">Просмотр контрольных работ</button></a>
            <a href="{{ url_for('lab_list') }}"><button class="button active">Список лабораторных работ</button></a>
            <a href="{{ url_for('index') }}"><button class="button">Выйти</button></a>
        </div>
    </div>
</body>
</html>